$primary_font: "Montserrat", sans-serif;


//project colors
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo:#FDDA00;
$morado: #752f97;
$negro: #000;
$blanco: #fff;

//shadows box
$shadow: .1rem .2rem .3rem #333;

//media queries sizes
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1480px;
